@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Pridi", serif;
    
}

:root{
  --primaryColor: #100b01;
  --fontColor: #d7c4a0;
}

header {
    display: flex;
    background-color: var(--primaryColor);
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 3rem;
    
  }
  
  h3{
    font-size: 25px;
    color: var(--fontColor);
  }

  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s ease-out;
    font-size: 18px;
  }
  
  nav a:hover {
    color: var(--fontColor);
  }

  .login-btn{
  background-color: var(--primaryColor); 
  color: #fff; 
  padding: 5px 12px; 
  border: 2px solid var(--fontColor); 
  border-radius: 5px;
  font-size: 15px;
  }

  .login-btn:hover {
    color: var(--fontColor);
  }
  